.sec_campanhas {
    height: 100%;
    margin: 0px 0px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px black;
}
.camp_general{
    width: 100%;
    height: 80%;
}
.camp_general img{
    height: auto!important;
    width: 100%!important;
}
.carousel-control-prev {
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 3px;
    width: 10%;
}
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 3px;
    width: 50px;
}
.carousel-indicators{
    display: none;
}
/* .carousel-indicators li {
    border-radius: 70%;
    height: 12px;
    width: 12px;
    border-color: rgb(229, 0, 71);
    border-width: 2px;
    border-style: solid;
    color:#6c9eee;
} */

.botoes {
    text-align: center;
}

.addImg {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #5a8bdabb;
    border-radius: 5px;
    color: rgb(15, 15, 15);
    font-weight: 500;
}

.addImg:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: primary;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 500;
}

.excluirImg {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: #5a8bdabb;
    border-radius: 5px;
    color: rgb(15, 15, 15);
    font-weight: 500;
}

.excluirImg:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: primary;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 500;
}

.alterarImg {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: #2176FF;
    border-radius: 5px;
    color: rgb(15, 15, 15);
    font-weight: 500;
}

.alterarImg:hover {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    background-color: primary;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 500;
}
